body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-image: url("../img/dbu5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}

.page-image {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 20px;
}

h2 {
    color: #004080;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input,
select {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #004080;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #0056b3;
}

/* Media Queries */

/* For smaller screens */
@media (max-width: 400px) {
    .container {
        width: 95%;
        max-width: none;
        padding: 15px;
    }

    .page-image {
        max-height: 150px;
    }

    h2 {
        font-size: 1.5em;
    }

    label {
        font-size: 0.9em;
    }

    input,
    select,
    button {
        font-size: 0.9em;
        padding: 6px;
    }
}

/* For tablets and larger mobile devices */
@media (min-width: 401px) and (max-width: 768px) {
    .container {
        width: 90%;
        padding: 25px;
    }

    .page-image {
        max-height: 180px;
    }
}


/* Landscape orientation adjustments */
@media (orientation: landscape) and (max-height: 500px) {
    .container {
        width: 90%;
    }

    .page-image {
        max-height: 120px;
    }
}